<div class="app-page-title">
  <div class="container">
    <h1>Source article</h1>
  </div>
</div>
<div class="app-content">
  <div class="container">
    <div class="news-block">
      <div class="news-img-wrapper">
        <img class="news-img" src= {{news.articles[index].urlToImage}}>
      </div>
      <div class="news-content">
        <h2 class="news-title">{{news.newsListData[index].title}}</h2>
        <p class="news-author">{{news.newsListData[index].author}}</p>
        <p class="news-date">{{news.newsListData[index].publishedAt}}</p>
        <p class="news-description">{{ news.newsListData[index].content }}</p>
      </div>
      <div class="news-controls">
        <a href="#" class="news-control" routerLink="/news-edit"><span class="fa fa-edit"></span></a>
        <a href="#" class="news-control" (click)="removeNews()"><span class="fa fa-remove"></span></a>
      </div>
    </div>
  </div>
</div>



